

#formulario{
    font: 100% Calibri;
    width: 800px;
    margin: auto;
}

.botao{
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    margin: 0px auto 0px 20px;
}

#cliente{
    background: #aaaaaa;
    
}

legend {
    font-weight: bold;
}